@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'primaryThemeFont';
    font-style: normal;
    src: local('Hansief'), url(../assets/fonts/Hansief.otf) format('truetype');
}


@font-face {
    font-family: 'secondaryThemeFont';
    font-style: normal;
    src: local('Poppins'), url(../assets/fonts/Poppins-Regular.ttf) format('truetype');
}

.themeFont {
    font-family: 'primaryThemeFont', sans-serif;
}

.themeFontSecondary {
    font-family: 'secondaryThemeFont', sans-serif;
}

.themeColor {
    color: #1c253c;
}

.themeColorSecondary {
    color: #6dd2d1;
}

.themeColorCompsite {
    color: #feff99;
}
