@theme {
    --color-primary: #222a59; /* dark blue */
    --color-primary-100: #E6EFEE;
    --color-primary-200: #CBDEDD;
    --color-primary-300: #AEC6C4;
    --color-primary-400: #38479c;
    --color-primary-500: #005953;
    --color-primary-600: #00504B;
    --color-primary-700: #003532;
    --color-primary-800: #002825;
    --color-primary-900: #001B19;

    --color-main: #ffa500; /* orange/yellow */
    --color-secondary: #f05d65; /* red */
    --color-accent: #7ec2c6; /* cyan */
    --color-danger: var(--color-rose);
    --color-success: var(--color-green);
    --color-warning: var(--color-yellow);
}
