@import "tailwindcss";

@font-face {
    font-family: 'primaryThemeFont';
    font-style: normal;
    src: local('Hansief'), url(./Assets/fonts/Hansief.otf) format('truetype');
}


@font-face {
    font-family: 'secondaryThemeFont';
    font-style: normal;
    src: local('Poppins'), url(./Assets/fonts/Poppins-Regular.ttf) format('truetype');
}

.themeFont {
    font-family: 'primaryThemeFont', sans-serif;
}

.themeFontSecondary {
    font-family: 'secondaryThemeFont', sans-serif;
}
