@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'primaryThemeFont';
    font-style: normal;
    src: local('PermanentMarker'), url(./Assets/fonts/PermanentMarker-Regular.ttf) format('truetype');
}

.themeFont {
    font-family: 'primaryThemeFont', sans-serif;
}

.themeFontSecondary {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-weight: 400;
    line-height: 1.5;
}


